@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
 
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 0%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 0%;
 
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --input: 0 0% 20%;
    --ring: 0 0% 80%;
    --radius: 0.5rem;
  }
}
